body {
	font-family: Verdana;
	width: 90%;
	margin-left: 5%;
	font-size: 18px;
	color: blue;
}

@media (min-width:421px) and (max-width:720px){
	p{
		color: red;
	}

}

@media (max-width: 420px){
  p{
    color: red;
  }
}

header {
	padding: 1vh 1vw;
	margin-bottom: 1vh;
}

#contenido{
	margin: 1%;
	text-align: center;
}

header h1 {
	padding-left: 1%;
	font-size: 1.5em;
}

footer {
	font-size: 0.8em;
	border-top: solid 2px #1f47a8;
	padding-top: 1vw;
	margin-top: 1vw;
	text-align: center;
}

img {
	width: 50%;
}
